In [1]:
import pandas as pd
import numpy as np

# Upoload Dataset

In [2]:
data=pd.read_csv ('C:\\Users\\pc\\iris.csv')

In [3]:
data

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

# Skip Method

In [16]:
data=pd.read_csv ('C:\\Users\\pc\\iris.csv',
                 skiprows=3)
data
# it will skip first 3 rows

       3  4.7  3.2  1.3  0.2     Iris-setosa
0      4  4.6  3.1  1.5  0.2     Iris-setosa
1      5  5.0  3.6  1.4  0.2     Iris-setosa
2      6  5.4  3.9  1.7  0.4     Iris-setosa
3      7  4.6  3.4  1.4  0.3     Iris-setosa
4      8  5.0  3.4  1.5  0.2     Iris-setosa
..   ...  ...  ...  ...  ...             ...
142  146  6.7  3.0  5.2  2.3  Iris-virginica
143  147  6.3  2.5  5.0  1.9  Iris-virginica
144  148  6.5  3.0  5.2  2.0  Iris-virginica
145  149  6.2  3.4  5.4  2.3  Iris-virginica
146  150  5.9  3.0  5.1  1.8  Iris-virginica

[147 rows x 6 columns]

In [17]:
type(data)

pandas.core.frame.DataFrame

In [7]:
data=pd.read_csv ('C:\\Users\\pc\\iris.csv')
data

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [10]:
data=pd.read_csv ('C:\\Users\\pc\\iris.csv',
                 skiprows=[i for i in range(1,3)])
data

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,3,4.7,3.2,1.3,0.2,Iris-setosa
1,4,4.6,3.1,1.5,0.2,Iris-setosa
2,5,5.0,3.6,1.4,0.2,Iris-setosa
3,6,5.4,3.9,1.7,0.4,Iris-setosa
4,7,4.6,3.4,1.4,0.3,Iris-setosa
...,...,...,...,...,...,...
143,146,6.7,3.0,5.2,2.3,Iris-virginica
144,147,6.3,2.5,5.0,1.9,Iris-virginica
145,148,6.5,3.0,5.2,2.0,Iris-virginica
146,149,6.2,3.4,5.4,2.3,Iris-virginica
147,150,5.9,3.0,5.1,1.8,Iris-virginica

In [12]:
data=pd.read_csv ('C:\\Users\\pc\\iris.csv',
                 skiprows=[i for i in [1,3,5]])
data

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,2,4.9,3.0,1.4,0.2,Iris-setosa
1,4,4.6,3.1,1.5,0.2,Iris-setosa
2,6,5.4,3.9,1.7,0.4,Iris-setosa
3,7,4.6,3.4,1.4,0.3,Iris-setosa
4,8,5.0,3.4,1.5,0.2,Iris-setosa
...,...,...,...,...,...,...
142,146,6.7,3.0,5.2,2.3,Iris-virginica
143,147,6.3,2.5,5.0,1.9,Iris-virginica
144,148,6.5,3.0,5.2,2.0,Iris-virginica
145,149,6.2,3.4,5.4,2.3,Iris-virginica
146,150,5.9,3.0,5.1,1.8,Iris-virginica

In [15]:
data=pd.read_csv ('C:\\Users\\pc\\iris.csv',
                 skipfooter=3,engine='python')
data

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
142,143,5.8,2.7,5.1,1.9,Iris-virginica
143,144,6.8,3.2,5.9,2.3,Iris-virginica
144,145,6.7,3.3,5.7,2.5,Iris-virginica
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica

In [18]:
data=pd.read_csv ('C:\\Users\\pc\\iris.csv',
                 nrows=5)
data

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

# Call Method

In [21]:
data=pd.read_csv ('C:\\Users\\pc\\iris.csv',
                  usecols=[0,1])
data

      Id  SepalLengthCm
0      1            5.1
1      2            4.9
2      3            4.7
3      4            4.6
4      5            5.0
..   ...            ...
145  146            6.7
146  147            6.3
147  148            6.5
148  149            6.2
149  150            5.9

[150 rows x 2 columns]

In [22]:
data=pd.read_csv ('C:\\Users\\pc\\iris.csv',
                 usecols=lambda x: x.upper() in["ID","SPECIES"])
data

      Id         Species
0      1     Iris-setosa
1      2     Iris-setosa
2      3     Iris-setosa
3      4     Iris-setosa
4      5     Iris-setosa
..   ...             ...
145  146  Iris-virginica
146  147  Iris-virginica
147  148  Iris-virginica
148  149  Iris-virginica
149  150  Iris-virginica

[150 rows x 2 columns]

In [23]:
data=pd.read_csv ('C:\\Users\\pc\\iris.csv',
                 index_col=["Id"])
data

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
Id
1              5.1           3.5            1.4           0.2     Iris-setosa
2              4.9           3.0            1.4           0.2     Iris-setosa
3              4.7           3.2            1.3           0.2     Iris-setosa
4              4.6           3.1            1.5           0.2     Iris-setosa
5              5.0           3.6            1.4           0.2     Iris-setosa
..             ...           ...            ...           ...             ...
146            6.7           3.0            5.2           2.3  Iris-virginica
147            6.3           2.5            5.0           1.9  Iris-virginica
148            6.5           3.0            5.2           2.0  Iris-virginica
149            6.2           3.4            5.4           2.3  Iris-virginica
150            5.9           3.0            5.1           1.8  Iris-virginica

[150 rows x 5 columns]

In [24]:
data.set_index("Species")

                SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
Species
Iris-setosa               5.1           3.5            1.4           0.2
Iris-setosa               4.9           3.0            1.4           0.2
Iris-setosa               4.7           3.2            1.3           0.2
Iris-setosa               4.6           3.1            1.5           0.2
Iris-setosa               5.0           3.6            1.4           0.2
...                       ...           ...            ...           ...
Iris-virginica            6.7           3.0            5.2           2.3
Iris-virginica            6.3           2.5            5.0           1.9
Iris-virginica            6.5           3.0            5.2           2.0
Iris-virginica            6.2           3.4            5.4           2.3
Iris-virginica            5.9           3.0            5.1           1.8

[150 rows x 4 columns]